{% extends 'base.html' %}
{% block body %}
<style type="text/css">
    

</style>
<div id="page-wrapper">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                General Account Settings</div>
        </div>
        <div class="clearfix">
        </div>
    </div>
        <table class="table table-hover table-bordered" style = "margin-bottom: 0;">
            <tbody>
            <tr>
                <td><b>Name</b></td>
                <td>Robert McKinley</td>
                <td><button type="button" class="btn btn-primary">Edit</button></td>
            </tr>
            <tr>
                <td><b>Username</b></td>
                <td>bob</td>
                <td><button type="button" class="btn btn-primary">Edit</button></td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td>bob@hackmit.org</td>
                <td><button type="button" class="btn btn-primary">Edit</button></td>
            </tr>
            <tr>
                <td><b>Password</b></td>
                <td>Last updated 4 months ago.</td>
                <td><button type="button" class="btn btn-primary">Edit</button></td>
            </tr>
            </tbody>
        </table>
        <div id="container" style="height: 500px;background-color: white;"></div>
    </div>
    
</div>
{% endblock %}