{% extends 'base.html' %}

{% block head %}
<style type="text/css">
  html, body { height: 100%; margin: 0; padding: 0; }
  #map { height: 400px; }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcx2ylowTOZjDtyXHei3BUr6OKITdB4IE"></script>

<script type="text/javascript">
    var marker = null;
    var map = null;
    var temp = setInterval(function() {
        $.ajax({
          url: "/deliverydata",
        }).done(function( data ) {
            var location = data.split(" ");
            marker.setPosition(new google.maps.LatLng(location[0], location[1]));
            if(location[2] == "pending"){
                $("#data").html("Pending Pickup...");
            } else if (location[2] == "pickup"){
                $("#data").html("Deliverying...");
            } else {
                $("#data").html("Delivered!");
                clearInterval(temp);
            }
        });
    }, 1000);

    
    function initMap(lat, lng) {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: lat, lng: lng},
            zoom: 16
        });
        var infoWindow = new google.maps.InfoWindow({map: map, content: "Current Location"});
        infoWindow.setPosition({
            lat: lat,
            lng: lng
          });

        marker = new google.maps.Marker({
            position: new google.maps.LatLng(0, 0),
            map: map,
            animation: google.maps.Animation.DROP,
        });
        marker.setMap(map);
        marker.setIcon('{{STATIC_URL}}images/orig.png');
    }
</script>
{% endblock %}

{% block body %}
<!--BEGIN PAGE WRAPPER-->
<div id="page-wrapper">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Garage</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Garage</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div class="row">
                <h1 style="color:orange;" id="data">Pending Pickup...</h1>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div id="map">
                        <script type="text/javascript">
                            initMap(42.360091, -71.09416);
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END PAGE WRAPPER-->

{% endblock %}