{% extends 'base.html' %}

{% block head %}
<style type="text/css">
  html, body { height: 100%; margin: 0; padding: 0; }
  #map { height: 500px; }
</style>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcx2ylowTOZjDtyXHei3BUr6OKITdB4IE"></script>
<script src="{{ STATIC_URL }}script/mapModel.js"></script>
<script type="text/javascript">
    var markers = []
    function initMap(lat, lng, locations) {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: lat, lng: lng},
            zoom: 15
        });
        markers = placeMarkers(locations, map);
        setMapOnAll(markers, map);

        var data = {{ locations|safe }};
        var tooltip = []
        for(var i = 0; i < data.length; i++){
            var temp = new google.maps.InfoWindow({
                    content: $("#" + i).attr("data-name") + "<br>" + $("#" + i).attr("data-price")
                });
            tooltip.push(temp);
        }
        for(var j = 0; j < data.length; j++){

            $("#" + j).hover(function(){
                
                tooltip[$(this).attr("id")].open(map, markers[$(this).attr("id")]);
            }, function() {
                tooltip[$(this).attr("id")].close();
            });
        }
        var infoWindow = new google.maps.InfoWindow({map: map, content: "Current Location"});
        infoWindow.setPosition({
            lat: 42.360091,
            lng: -71.09416
          });

    }

</script>
{% endblock %}


{% block body %}
<!--BEGIN PAGE WRAPPER-->
<div id="page-wrapper">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Dashboard</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              <i class="fa fa-plus"></i> Add To Garage

            </button>
    
        </ol>
        <div class="clearfix">
        </div>
    </div>

    <!--END TITLE & BREADCRUMB PAGE-->


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.15.min.js"></script>
            <script type="text/javascript">
              $(function() {
                var file;

                // Set an event listener on the Choose File field.
                $('#item_pic').bind("change", function(e) {
                  var files = e.target.files || e.dataTransfer.files;
                  // Our file var now holds the selected file
                  file = files[0];
                });

                // This function is called when the user clicks on Upload to Parse. It will create the REST API request to upload this image to Parse.
                $('#uploadbutton').click(function() {
                  var serverUrl = 'https://api.parse.com/1/files/' + file.name;

                  $.ajax({
                    type: "POST",
                    beforeSend: function(request) {
                      request.setRequestHeader("X-Parse-Application-Id", 'GEhB6O9S9sJwKWRVlfcm2zghfmpN7ZIg5guhjHha');
                      request.setRequestHeader("X-Parse-REST-API-Key", 'Ui7OtToUquSRwLGGHxDCLB0nX9t5o2IOwSVyRjRI');
                      request.setRequestHeader("Content-Type", file.type);
                    },
                    url: serverUrl,
                    data: file,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        var item = new Parse.Object.extend("Items");
                        var item2 = new item();
                        item2.set("picture", file);
                        item2.set("name", $("#inputName"));
                        item2.set("address", $("#inputAddress"));
                        item2.set("description", $("#inputDescription"));
                        item2.set("price", $("#inputPrice"));
                        item2.save(null, {
                            success: function(item){
                                alert("hi");
                            },
                            error: function(item, error){
                                alert("fail");
                            }
                        });
                    },
                    error: function(data) {
                      var obj = jQuery.parseJSON(data);
                      alert(obj.error);
                    }
                  });
                });


              });
            </script>
                <form method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    <input name='item_pic' id="item_pic" type="file" class="file">

                    <div class="form-group">
                        <div class="input-icon right">
                            <i class="fa fa-user"></i>
                            <input name="inputName" id="inputName" type="text" placeholder="What are you selling?" class="form-control" /></div>
                    </div>
                    
                    <div class="form-group">
                        <div class="input-icon right">
                            <i class="fa fa-lock"></i>
                            <input name="inputAddress" id="inputAddress" type="text" placeholder="Address" class="form-control" /></div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon right">
                            <i class="fa fa-envelope"></i>
                            <input name="inputDescription" id="inputDescription" type="text" placeholder="Description" class="form-control" /></div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon right">
                            <i class="fa fa-envelope"></i>
                            <input name="inputPrice" id="inputPrice" type="text" placeholder="Price" class="form-control" /></div>
                    </div>
                    <div class="form-actions text-right pal">
                        <button type="submit" class="btn btn-primary" id="uploadbutton">
                          Submit</button>
                    </div>
                </form>
            </div>                      
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
    </div>
     </div>




    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div class="row">
                <div class="col-sm-6 col-md-6" style="height: 500px; overflow-y: scroll;">
                    {% for item in items %}
                        {% if forloop.counter0|divisibleby:2%}
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div id="{{forloop.counter0}}" data-price="${{item.price|floatformat:2}}" data-name="{{item.name}}" class="thumbnail"><img src="{{item.picture.url}}" style="height:200px"/>

                                    <div class="caption"><h3>{{item.name}}</h3>

                                        <div>
                                            <p>{{item.description}}</p>    
                                        </div>
                                        
                                        <div>
                                            <h3 class="index-price">${{item.price|floatformat:2}}</h3>    
                                        </div>
                                        

                                        <p><form method="POST" action="/mycart/">
                                            {% csrf_token %}
                                            <input type=text name="item" value="{{item.objectId}}" hidden>
                                            <input type=submit role="button" class="btn btn-primary" value="Add to Cart">
                                        </form></p></div>
                                    </div>
                                </div>
                            {% if forloop.counter == items|length %}
                            </div>
                            {% endif %}
                        {% else %}
                                <div class="col-sm-6 col-md-6">
                                    <div id="{{forloop.counter0}}" data-price="${{item.price|floatformat:2}}" data-name="{{item.name}}" class="thumbnail"><img src="{{item.picture.url}}" style="height:200px"/>

                                    <div class="caption"><h3>{{item.name}}</h3>

                                        <p>{{item.description}}</p>
                                        <h3 class="index-price">${{item.price|floatformat:2}}</h3>

                                        <p><form method="POST" action="/mycart/">
                                            {% csrf_token %}
                                            <input type=text name="item" value="{{item.objectId}}" hidden>
                                            <input type=submit role="button" class="btn btn-primary" value="Add to Cart">
                                        </form></p></div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="row">
                        <div id="map">
                            <script type="text/javascript">
                                var data = {{ locations|safe }};
                                var locations = [];
                                for(var i = 0; i < data.length; i++){
                                    locations.push([data[i]['location'].latitude, data[i]['location'].longitude]);
                                }

                                initMap(42.360091, -71.09416, locations);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!--END PAGE WRAPPER-->

{% endblock %}