{% extends 'base.html' %}

{% block body %}
<!--BEGIN PAGE WRAPPER-->
<div id="page-wrapper">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                My Cart</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">My Cart</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <h1 style="color:gray;">CART</h1>
            {% for item_cost in item_costs %}
                <div class="row">
                    <div class="panel panel-default" style="margin:0px;">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left col-md-2">
                                    <a href="#">
                                        <img class="media-object garage-image" src="{{ item_cost.0.picture.url }}">
                                    </a>
                                        
                                </div>
                                <div class="media-body col-md-6">
                                    <h4 class="media-heading">{{ item_cost.0.name }}</h4>
                                    <p>{{ item_cost.0.description }}</p>
                                </div>
                                <div class="price">
                                    <h2>${{ item_cost.0.price|floatformat:2 }}</h2>
                                    <h3>Delivery Fee: + ${{item_cost.1|floatformat:2}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            {% endfor %}
            <div class="final-cost">
                <h4><span style="color:red;">Total: {{total|floatformat:2}}</span></h4>
                <form action="{% url 'checkout' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" type="button" class="btn btn-primary" value="Checkout" />
                </form>
            </div>
            
            
        </div>
    </div>
</div>
<!--END PAGE WRAPPER-->

{% endblock %}